.container {
    display: flex;
    justify-content: center;
}

.gridContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    height: fit-content;
    width: fit-content;
    border: 1px solid;
}

.grid {}